# Add source for shopinvader package
--find-links https://wheelhouse.acsone.eu/manylinux1
--extra-index https://wheelhouse.shopinvader.com/simple/
--extra-index https://wheelhouse.odoo-community.org/oca-simple/

# shopinvader modules and dependencies
https://github.com/OCA/openupgradelib/archive/master.tar.gz
odoo12_addon_shopinvader
odoo12_addon_shopinvader_assortment
odoo12_addon_shopinvader_delivery_carrier
odoo12_addon_shopinvader_image
odoo12_addon_shopinvader_payment
odoo12_addon_shopinvader_payment_manual
odoo12_addon_shopinvader_product_stock
odoo12_addon_shopinvader_search_engine
odoo12_addon_invader_payment
odoo12_addon_invader_payment_manual

# OCA
odoo12-addon-web-environment-ribbon==12.0.1.0.0.99.dev11

# Used to initialize and update the odoo database with the
# shopinvader_demor_app
click-odoo-contrib

# Get ir.config.paramter from odoo.cfg to ease the configuration
# of odoo from the docker-compose file
odoo12_addon_server_environment_ir_config_parameter