-r requirements-find-links.txt

# odoo
-r https://raw.githubusercontent.com/odoo/odoo/12.0/requirements.txt
git+https://github.com/akretion/odoo.git@12.0-phs_master#egg=odoo

# patched Akretion addons

# patched OCA addons
# odoo{short_version}-addon-{addon} @ git+https://github.com/acsone/{oca-project}.git@12.0-phs_master#subdirectory=setup/{addon}

# local project
-e .
